*{
    margin:  4px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(fonfo_de_la_tabla.jpg) no-repeat center center fixed;
    background-size: cover; 
}

h1{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color:white; 
}

#parrafo{
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color:red; 
}

.registro{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color:rgb(88, 36, 36);
}

.registro h4{
    font-size: 42px;
    margin-bottom: 20px;
    color: rgb(255, 249, 249);
}

.controls{
    width: 100%;
    background:aqua;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}
.Enviar{
    background: red;
    color: black;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    
}