*{
    margin:  4px;
    padding: 0;
}

body{
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fparabrisas.perfil.com%2Fnoticias%2Fadelantos%2Fen-el-futuro-las-personas-podran-cambiar-el-color-de-sus-autos.phtml&psig=AOvVaw3QX07g_PWAPvjSD8sIoI-z&ust=1703343845396000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCKDmwLuoo4MDFQAAAAAdAAAAABAI) no-repeat center center fixed;
    background-size: cover; 
}

h1{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color:white; 
}

#parrafo{
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color:red; 
}

.registro{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color:rgb(88, 36, 36);
}

.registro h4{
    font-size: 42px;
    margin-bottom: 20px;
    color: rgb(255, 249, 249);
}

.controls{
    width: 100%;
    background:aqua;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}
.Enviar{
    background: red;
    color: black;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    
}