
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.Contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: brown;
}
h2{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color: blue; 
}

.Suptitulo{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color: rgb(33, 116, 0);
}


p{
    color: rgb(255, 0, 0); 
    font-size: 24px;
}

body{
background-image: url(https://www.memo.com.ar/economia/multa-de-500-000-para-una-concesionaria-de-autos-mendocina/#galleryzoom);
}